.topFooter {
    width: 1315px;
    height: 30px;
    background-color: #55415f;
    padding: 10px;

}

.topFooter>a {

    height: 11px;
    font-family: Georgia;
    font-size: 11px;
    color: #ffffff;
}

.navBar {
    background-color: #ffffff;
}

.topNav {
    width: 100%;
    height: 420px;
    background: #ffffff;
}