.topFooter {
    width: 100%;
    height: 30px;
    background-color: #55415f;
    padding: 10px;

}

h2 {
    margin-top: 30px;
    margin-left: 10px;
    width: 173px;
    height: 26px;
    font-family: Georgia;
    font-size: 26px;
    line-height: 1;
    text-align: left;
    color: #000000;
}

.slogan {
    margin-left: 6px;
    width: 156px;
    height: 13px;
    font-family: Georgia;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    color: #999999;
}

.topFooter>a {

    height: 11px;
    font-family: Georgia;
    font-size: 11px;
    color: #ffffff;
}

.navBar {
    background-color: #ffffff;
}


.topNav {
    width: 100%;
    height: 130px;
    background: #ffffff;
    margin: 0px;
}

.midSection {
    background-color: #ebebeb;
    height: 420px;
    width: 100%;
    margin: 0px;

}

.phrase {

    width: 379px;
    height: 82px;
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.38;
    text-align: left;
    color: #999999;
}

.monitor {
    width: 468px;
    height: 270px;
    margin-left: 20px;
}

h1 {
    font-family: Georgia;
    font-size: 36px;
    line-height: 1.19;
    color: #333333;
}